/* Enhanced Text Styling */
.enhanced-text-container {
  position: absolute;
  top: 100px; /* Center vertically */
  left: 22%; /* Center horizontally */
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust width if needed */
  padding: 20px;
  text-align: center;
  direction: rtl;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards, fadeOut 1s ease-in forwards 9s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  z-index: 10;
  pointer-events: all; /* Ensure it can be interacted with while visible */
  visibility: visible; /* Ensure the element is visible initially */
}

/* Fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Counter Styling */
.counter {
  color: #c9a46b; /* Gold */
  font-size: 2,5rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(201, 164, 107, 0.8); /* Glowing effect */
}

/* Stats Row */
.stats-row {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
